{% extends 'blog/main.html' %}
{% block main_section %}
    <div class="container mt-3 d-flex justify-content-center">
        <div class="col-lg-8 col-sm-12">
            <h2>Добавление поста</h2>
            <form method="post" action="{% url 'user_app:add_post' %}">
                <p>Название статьи: <input type="text" name="name" required></p>-->
                <p>Текст статьи:</p>
                <p><textarea name="post" cols="40" rows="10"></textarea></p>
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success mt-3">Сохранить</button>
            </form>
        </div>
    </div>

{% endblock main_section %}

