{% extends 'blog/main.html' %}
{% block main_section %}
    <img src="https://i.vuzopedia.ru/storage/app/uploads/public/636/e76/370/636e7637054e0332182408.jpg" height="500" width="690" alt="">
    <h2 style="text-align: center">Cинтетическая биология</h2>
<p style="width: 690; text-align: justify;">Синтетическая биология использует генетический материал объекта как структуру, которую можно запрограммировать, подобно компьютеру.
    Таким образом, можно придать новые или усилить текущие свойства ДНК определенной сельскохозяйственной культуры или породы скота для улучшения таких параметров, как урожайность и плодовитость, темпы роста, сопротивляемость тяжелым климатическим условиям и многие другие.
    Подобные результаты могут быть достигнуты, если к ДНК культуры «приклеить» генетические участки других объектов или же «отключить» определенные участки в исходном ДНК.
    Благодаря искусственному интеллекту и машинному обучению учёные и инновационные компании смогут создавать генетический код или молекулы, если речь идет о неорганическом материале, под определенные требования клиента, то есть «на заказ».
    Среди известных стартапов, специализирующихся на синтетической биологии, можно выделить американского разработчика и производителя биопластиков Genecis или датский стартап BioPhero, синтезирующий искусственные феромоны для насекомых.</p>

    <img src="https://s0.rbk.ru/rbcplus_pics/media/img/8/52/296856261801528.jpeg" height="500" width="690" alt="">
    <h2 style="text-align: center">Агромаркетплейсы</h2>
<p style="width: 690; text-align: justify;">Задачами компаний, предоставляющих агропредприятиям онлайн-площадки, являются: помощь фермерам в приобретении сырья и оборудования от производителей, поиск каналов сбыта сельскохозяйственной продукции и логистических партнеров для отгрузок.
    Как пример, можно указать крупнейшую американскую цифровую платформу для торговли зерновыми культурами — Bushel, китайских гигантов по торговле свежими продуктами с доставкой на домашнем рынке Furong XingSheng и Dingdong Maicai, а также российскую B2B площадку для агропредприятий Свое Фермерство и маркетплейс свежих фермерских продуктов Свое Родное от Россельхозбанка.
    Стоит отметить, что в направлении агротеха рекордных цифр достигли инвестиции в электронные торговые площадки. Например, китайский маркетплейс свежих овощей и продуктов питания Furong XingSheng в 2021 году привлек 3 млрд долларов в рамках одного раунда как поставщик продукции для крупнейшей клиентской аудитории – Китая.

    <img src="https://www.timacad.ru/uploads/media/cache/full_image/uploads/images/20240226/1708946983_msg-1001883178567-354.jpg" height="500" width="690" alt="">
    <h2 style="text-align: center">ПО и системы управления фермерским хозяйством</h2>
<p style="width: 690; text-align: justify;">Многие агротехстартапы разрабатывают цифровые системы и ПО для того, чтобы сделать операционный процесс на ферме более «умным», за счёт анализа данных многочисленных датчиков, сенсоров и даже со спутников.
Такие инструменты помогают фермеру определить: насколько плодородным является земельный участок, ожидаются в ближайшее время резкие климатические изменения, здорово ли растение или нет? Технологии «точного земледелия» позволяют рассчитать количество и частоту полива растений, объем требуемых удобрений или кормов, стоимость обслуживания земельного участка по площади. Все эти многочисленные инструменты направлены на сохранение и увеличение урожайности, сокращение издержек, оптимизацию мощностей и ресурсов.
Среди лидеров категории можно выделить швейцарско-белорусский стартап OneSoil (аналитика грунтов и земельных участков), бразильский Adroit Robotics с «умными сенсорами», американскую компанию Ag Analytics (сбор данных и аналитика операционной деятельности агропредприятий).



{% endblock main_section %}