{% extends 'blog/main.html' %}
{% block main_section %}
{% load static %}
    {% for post in news %}
        <div class="alert alert-light">
            <h1>{{ post.images.url }}</h1>
            {% if post.image %}
            <p ><img src="{{post.image.url}}" height="400" width="690"></p>
            {% endif %}
            <h1>{{ post.title }}</h1>
            <p>{{ post.text }}</p>
            <span class="text-muted"><b>Дата:</b> {{ post.data|date:'j F Y, время: H:i:s' }}</span>
            {% if post.author == 'Валерий' %}
                <p><b>Автор:</b> <mark>Админ</mark></p>
            {% else %}
                <p><b>Автор:</b> <mark>{{ post.author }}</mark></p>
            {% endif %}
        </div>
    {% endfor %}
{% endblock main_section %}